{% extends 'base.html' %}


{% block content %}

<div class="jumbotron" align="center">
    <form method="post">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>
                    {{ form.name.label }}
                </td>
                <td>
                    {{ form.name }}
                </td>
            </tr>
            <tr>
                <td>
                   <p style="visibility: hidden;font-size: 5px">s</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.cast.label }}
                </td>
                <td>
                    {{ form.cast }}
                </td>
            </tr>
            <tr>
                <td>
                   <p style="visibility: hidden;font-size: 5px">s</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.genre.label }}
                </td>
                <td>
                    {{ form.genre }}
                </td>
            </tr>
            <tr>
                <td>
                   <p style="visibility: hidden;font-size: 5px">s</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.rating.label }}
                </td>
                <td>
                    {{ form.rating }}
                </td>
            </tr>
            <tr>
                <td>
                   <p style="visibility: hidden;font-size: 5px">s</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.comment.label}}
                </td>
                <td>
                    {{ form.comment(style="min-width:187px" )}}
                </td>
            </tr>
            <tr>
                <td>
                   <p style="visibility: hidden;font-size: 5px">s</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {{ form.submit() }}
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}