{% extends 'base.html' %}

{% block content %}
<div class="jumbotron" align="center">
    <form method="post">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>
                    {{ form.email.label }}
                </td>
                <td>
                    {{ form.email }}
                </td>
            </tr>

            <tr>
                <td>
                   <p style="visibility: hidden;font-size: 5px">s</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.name.label }}
                </td>
                <td>
                    {{ form.name }}
                </td>
            </tr>

            <tr>
                <td>
                   <p style="visibility: hidden;font-size: 5px">s</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.username.label }}
                </td>
                <td>
                    {{ form.username }}
                </td>
            </tr>

            <tr>
                <td>
                   <p style="visibility: hidden;font-size: 5px">s</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.password.label }}
                </td>
                <td>
                    {{ form.password }}
                </td>
            </tr>

            <tr>
                <td>
                   <p style="visibility: hidden;font-size: 5px">s</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.pass_confirm.label }}
                </td>
                <td>
                    {{ form.pass_confirm }}
                </td>
            </tr>

            <tr>
                <td>
                   <p style="visibility: hidden;font-size: 5px">s</p>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    {{ form.submit(class="btn btn-primary") }}
                </td>
            </tr>
        </table>
    </form>

</div>


{% endblock %}