{% extends 'base.html' %}

{% block content %}
<form method="post">
    {{ form.hidden_tag() }}
    <div class="container">
        <div class="jumbotron">
            <table>
                <tr>
                    <td>
                        {{ form.name.label }}
                    </td>
                    <td>
                        {{ form.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.cast.label }}
                    </td>
                    <td>
                        {{ form.cast }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.genre.label }}
                    </td>
                    <td>
                        {{ form.genre}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.submit(class='btn btn-primary') }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>

{% endblock %}